body {
    background-color: aquamarine;
    color: beige;
    font-family:  "Edu VIC WA NT Beginner", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: blue;
    color: white;
}